template_path: "remote/lambda-mongo-health-check.yaml"
stack_name: "agora-lambda-mongo-health-check"
stack_tags:
  Department: "Platform"
  Project: "Infrastructure"
  OwnerEmail: "it@sagebase.org"
hooks:
  before_launch:
    - !cmd "curl https://{{stack_group_config.admincentral_cf_bucket}}.s3.amazonaws.com/lambda-mongo-health-check/master/lambda-mongo-health-check.yaml --create-dirs -o templates/remote/lambda-mongo-health-check.yaml"
parameters:
  Host: !stack_output_external agoradb-prod::PrimaryReplicaNodeIp
  Database: "agora"
  DbUser: !ssm /agora-prod/MongodbUsername
  DbPassword: !ssm /agora-prod/MongodbPassword
  SubnetIds:
    - !stack_output_external computevpc::PrivateSubnet
  SecurityGroupIds:
    - !stack_output_external agoradb-prod::MongoDBServerAccessSecurityGroup
  Schedule: "rate(1 hour)"
