template_path: beanstalk.yaml
stack_name: agora-develop
parameters:
  AppDeployBucket: 'org-sagebionetworks-agora-deployment-agora-develop'
  AppEnv: 'develop'
  AppHealthcheckUrl: '/about'
  AutoScalingMaxSize: '2'
  AutoScalingMinSize: '1'
  EbHealthReportingSystem: 'enhanced'
  EbDeploymentPolicy: 'RollingWithAdditionalBatch'
  SnsBounceNotificationEndpoint: 'agora-develop-bounce-notifications@sagebase.org'
  SnsNotificationEndpoint: 'agora-develop@sagebase.org'
  EbSolutionStackName: '64bit Amazon Linux 2 v5.4.4 running Node.js 12'
  EC2InstanceType: 't3.large'
  EC2KeyName: 'agora-access'
  MongodbHost: !stack_output_external agoradb-develop::PrimaryReplicaNodeIp
  MongodbAccessSecurityGroup: !stack_output_external agoradb-develop::MongoDBServerAccessSecurityGroup
